
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
@font-face {
    font-family: eldebaranItalique;
    src: url(assets/fonts/eldebarancondital.ttf) format("opentype");
  }
@font-face {
    font-family: eldebaran;
    src: url(fonts/Minecraft.ttf) format("opentype");
}
@font-face{
  font-family: menu;
  src: url(fonts/fornever/FORNEVERRegular.ttf) format("opentype")
}

*{
  font-family: eldebaran, sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
